{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
	<title>
		this is form test
	</title>
</head>
<body>

{# display a list #}
<div class="list-group">
 
<a href="#" class="list-group-item active">
    Notes
  </a>
{% for note in object_list %}
   <a href="{% url "noteView" %}?id={{note.id}}" class="list-group-item">{{ note.createTime|date:"Y-m-d H:i:s" }} - {{ note.title }}</a>
{% empty %}
     <a href="#" class="list-group-item">No notes yet.</a>
{% endfor %}
</div>
<nav>
 <ul class="pager">
       
            {% if page_obj.has_previous %}
                {# <a href="?page={{ page_obj.previous_page_number }}">previous</a> #}
                <li class="previous"><a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
            {% else %}
            	 <li class="previous disabled"><a href=""><span aria-hidden="true">&larr;</span> Previous</a></li>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                {# <a href="?page={{ page_obj.next_page_number }}">next</a> #}
                <li class="next"><a href="?page={{ page_obj.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a></li>
            {% else %}
            	 <li class="next disabled"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
      
    </ul>
</nav>

</body>
</html>